.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  height: 60px;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav-icon {
  color: #424242;
}
