<div class="new-task-form">
  <h3>Add a New Task</h3>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="newTask.description" name="description" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Due Date (e.g., 25/12)</mat-label>
    <input matInput [(ngModel)]="newTask.due_date" name="due_date" required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Field</mat-label>
    <input matInput [(ngModel)]="newTask.field" name="field" required>
  </mat-form-field>

  <div class="form-actions">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button class="add-task-button" (click)="onSubmit()">Add Task</button>
  </div>
</div>
